## Settings file was created by plugin XUnity Resource Redirector v2.0.0
## Plugin GUID: gravydevsupreme.xunity.resourceredirector

[Diagnostics]

# Setting type: Boolean
# Default value: false
Log all loaded resources = false

# Setting type: Boolean
# Default value: false
Log callback order = false

